{% extends 'base_master.html' %}

{% block content %}
<div class="container">
    <h1>Task List</h1>
    <a class="btn btn-primary" href="{% url 'tasks:task_create' %}" role="button">Add Task</a>
    <div class="table-responsive d-none d-sm-block">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Due Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr class="{% if task.is_overdue %}table-danger{% endif %}">
                        <td>{{ task.title }}</td>
                        <td>
                            {% if task.is_overdue %}
                                Overdue
                            {% else %}
                                {{ task.status }}
                            {% endif %}
                        </td>
                        <td>{{ task.due_date }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="{% url 'tasks:task_detail' task.id %}" role="button">View Details</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            <div class="alert alert-info" role="alert">
                                No tasks available.
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% for task in tasks %}
        <div class="card mt-2 d-sm-block d-md-none">
            <div class="card-body {% if task.is_overdue %}bg-danger-subtle{% endif %}">
                <h5 class="card-title mb-3">{{ task.title }}</h5>
                <p class="card-text"><strong>Description:</strong><br> {{ task.description }}</p>
                <p class="card-text"><strong>Status:</strong><br> {{ task.status }}</p>
                <p class="card-text"><strong>Due Date:</strong><br> 
                    {% if task.is_overdue %}
                        Overdue
                    {% else %}
                        {{ task.status }}
                    {% endif %}
                </p>
                <a class="btn btn-sm btn-primary" href="{% url 'tasks:task_update' task.id %}" role="button">Edit</a>
                <a class="btn btn-sm btn-success" href="{% url 'tasks:task_complete' task.id %}" role="button">Complete</a>
                <a class="btn btn-sm btn-danger" href="{% url 'tasks:task_delete' task.id %}" role="button">Delete Task</a>
            </div>
        </div>
    {% endfor %}
    <a class="btn btn-sm btn-secondary mt-2 mb-4" href="{% url 'tasks:task_list_complete' %}" role="button">View Complete Tasks</a>
</div>
{% endblock %}