{% extends 'base_master.html' %}

{% block content %}
<div class="container">
    <h1>Task List</h1>
    <a class="btn btn-primary" href="{% url 'tasks:task_create' %}" role="button">Add Task</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date and Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.date }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="{% url 'tasks:task_update' task.id %}" role="button">Edit</a>
                            <a class="btn btn-sm btn-success" href="{% url 'tasks:task_complete' task.id %}" role="button">Complete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-info" role="alert">
                                No tasks available.
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-sm btn-secondary" href="{% url 'tasks:task_list_complete' %}" role="button">View Complete Tasks</a>
</div>
{% endblock %}