{% extends 'base_master.html' %}
{% block content %}
<div class="container">
    <h1>{{ task.title }}</h1>
    <div class="card {% if task.is_overdue %}bg-danger-subtle{% endif %}">
        <div class="card-body">
            <p class="card-text"><strong>Description:</strong><br> {{ task.description }}</p>
            <p class="card-text"><strong>Status:</strong><br> {{ task.status }}</p>
            <p class="card-text"><strong>Due Date:</strong><br> {{ task.due_date }}</p>
            <p class="card-text"><strong>Last Modified:</strong><br> {{ task.date }}</p>
        </div>
    </div>
    <p class="mt-3">
        <a class="btn btn-secondary" href="{% url 'tasks:task_list' %}" role="button">Back</a>
        <a class="btn btn-primary" href="{% url 'tasks:task_update' task.id %}" role="button">Edit</a>
        <a class="btn btn-success" href="{% url 'tasks:task_complete' task.id %}" role="button">Complete</a>
        <a class="btn btn-danger" href="{% url 'tasks:task_delete' task.id %}" role="button">Delete Task</a>
    </p>
</div>
{% endblock %}